<md-toolbar>
  <div fxLayout="row" fxFill fxLayoutAlign="space-between center">
    <span>Worked days</span>
    <button md-raised-button
            [disabled]="workWeeksToUpdate.length == 0"
            md-icon-button
            color="primary"
            (click)="redirectToForm()">
      <md-icon>save</md-icon>
    </button>
  </div>
</md-toolbar>

<md-input-container>
  <input mdInput #filter
         placeholder="Week"
         id="current_week"
         value="1"
         (onChange)="changeCurrentWeek()"
         type="number"/>
</md-input-container>

<button md-button (click)="changeCurrentWeek()">change</button>

<ng-container>
  <md-table #table [dataSource]="dataSource" [trackBy]="id">
    <ng-container mdColumnDef="employee">
      <md-header-cell *mdHeaderCellDef>Employee</md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.employee_name}}</md-cell>
    </ng-container>

    <ng-container *ngFor="let day of weekDays" [mdColumnDef]="day">
      <md-header-cell *mdHeaderCellDef class="capitalize-first">
        {{day}}
      </md-header-cell>
      <md-cell *mdCellDef="let row">
        <md-checkbox [checked]="isDayChecked(row, day)" (change)="onWeekDayCheck(day, row)"></md-checkbox>
      </md-cell>
    </ng-container>

    <ng-container mdColumnDef="total_paid">
      <md-header-cell *mdHeaderCellDef>Total paid</md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.total_paid}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="extra_costs">
      <md-header-cell *mdHeaderCellDef>Extra</md-header-cell>
      <md-cell *mdCellDef="let row">
        <md-input-container style="max-width: 50px;">
          <input mdInput
                 [value]="row.extra_costs"
                 (change)="onRowUpdate('numberField', row.id, $event, 'extra_costs')"
                 type="number"/>
        </md-input-container>
      </md-cell>
    </ng-container>

    <ng-container mdColumnDef="total">
      <md-header-cell *mdHeaderCellDef>Total</md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.total_paid + row.extra_costs}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="deductions">
      <md-header-cell *mdHeaderCellDef>Deductions</md-header-cell>
      <md-cell *mdCellDef="let row">
        <md-input-container style="max-width: 50px;">
          <input mdInput
                 [value]="row.deductions"
                 (change)="onRowUpdate('numberField', row.id, $event, 'deductions')"
                 type="number"/>
        </md-input-container>
      </md-cell>
    </ng-container>

    <ng-container mdColumnDef="final_check">
      <md-header-cell *mdHeaderCellDef>Final check</md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.total_paid + row.extra_costs - row.deductions}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="salary">
      <md-header-cell *mdHeaderCellDef>Salary</md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.salary}}</md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</ng-container>
