<ng-container>
  <md-checkbox (click)="toggleDays('Sunday')">Sunday</md-checkbox>
  <md-checkbox (click)="toggleDays('Monday')">Monday</md-checkbox>
  <md-checkbox (click)="toggleDays('Tuesday')">Tuesday</md-checkbox>
  <md-checkbox (click)="toggleDays('Wednesday')">Wednesday</md-checkbox>
  <md-checkbox (click)="toggleDays('Thursday')">Thursday</md-checkbox>
  <md-checkbox (click)="toggleDays('Friday')">Friday</md-checkbox>
  <md-checkbox (click)="toggleDays('Saturday')">Saturday</md-checkbox>
</ng-container>
