<h1 md-dialog-title>
  {{title}}
</h1>
<div fxLayoutGap="30px" fxLayout="column">
  <form name="employee" fxLayout="column" fxLayoutGap="10px">
    <md-input-container>
      <input mdInput
             placeholder="Name"
             required
             (error)="errors.name"
             #name="ngModel"
             name="name"
             [(ngModel)]="employee.name">
    </md-input-container>

    <div *ngIf="errors.name">
      <div *ngFor="let error of errors.name">{{error}}</div>
    </div>

    <md-input-container>
      <input mdInput
             placeholder="Social Security Number"
             required
             (error)="errors.ssn"
             type="number"
             #name="ngModel"
             name="ssn"
             [(ngModel)]="employee.ssn">
    </md-input-container>

    <div *ngIf="errors.ssn">
      <div *ngFor="let error of errors.ssn">*{{error}}</div>
    </div>

    <md-input-container>
      <input mdInput
             placeholder="Driver License"
             #name="ngModel"
             name="driver_license"
             [(ngModel)]="employee.driver_license">
    </md-input-container>

    <md-input-container>
      <input mdInput
             placeholder="Birth Date"
             required
             (error)="errors.birth_date"
             type="date"
             #name="ngModel"
             name="birthDate"
             [(ngModel)]="employee.birth_date">
    </md-input-container>

    <div *ngIf="errors.birth_date">
      <div *ngFor="let error of errors.birth_date">*{{error}}</div>
    </div>

    <md-input-container>
      <input mdInput
             placeholder="Day Start"
             type="date"
             #name="ngModel"
             name="day_start_work"
             [(ngModel)]="employee.day_start_work">
    </md-input-container>

    <md-select placeholder="Role"
               required
               id="role"
               name="role"
               #name="ngModel"
               [(ngModel)]="employee.role"
               ngDefaultControl>
      <md-option value="driver">
        Driver
      </md-option>
      <md-option value="helper">
        Helper
      </md-option>
    </md-select>

    <div *ngIf="errors.role">
      <div *ngFor="let error of errors.role">*{{error}}</div>
    </div>
  </form>

  <div fxLayout="row" fxFlexAlign="end center">
    <button md-button md-dialog-close>
      Cancel
    </button>
    <button md-raised-button (click)="saveEmployee(employee)" color="primary">
      Save
    </button>
  </div>
</div>
